/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/* Estilos base propios */
html, body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.rm-dialog .p-dialog-content {
  background: #ffffff;
}

.p-dialog-mask {
  backdrop-filter: blur(2px);
}
